/* @font-face {
  font-family: "Milligram Bold";
  src: url('font/Milligram-Bold.ttf');
}
@font-face {
  font-family: "Milligram Text";
  src: url('font/Milligram-Text-Regular.ttf');
}

@font-face {
  font-family: "Milligram Macro Bold";
  src: url('font/milligram_macro_bold.otf');
} */

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  /* overflow-x: hidden; */
  /* background-color: white;
  color: white;

}

h1{
  margin-top:0;
}  */


/* LOGONE MAXI */
#main-title{
  font-family: "Milligram Macro Bold";
  font-size: 13.2vw;
  width: 100vw;
  height: auto;
  color: white;
  mix-blend-mode: difference;
  margin: auto;
  text-align: center;
  justify-content: center;
}

#main-title a{
  text-decoration: none;
  color: white;
}


/* LOCATION */
.containerLocation {
  display: flex;
  margin-left: 6vw;
  margin-right: 6vw;
}

.imgLocationContainer {
  width: 45vw;
  margin-right: 1.2vw;
}

.imgLocation {
  width: 100%;
}

.textLocationContainer {
  width: 45vw;
  position: relative;
  color: black;
  text-align: left;
  font-family: "Milligram Text";
  font-size: 1.2rem;
  margin-left: 1.2vw;
}

b { 
  font-family: "Milligram Bold";
}

/* BOTTONI */
#buttonContainer {
  margin: 4vh 4vw;
}

  /* MOBILE */
@media (max-width: 743px) {
   .containerLocation {
    /* display: block; */
    /* border: 3px solid blue; */
    text-align: center;
    flex-direction: column-reverse;
    /* position: relative; */
    margin-left: 6vw;
    margin-right: 6vw;
  }
  
  .imgLocationContainer {
    /* border: 2px solid red; */
    width: 90vw;
    /* display: inline-block; */
    margin-right: 1.2vw;
  
  }

  .textLocationContainer {
    /* border: 2px solid green; */
    width: 90vw;
    position: relative;
    display: block;
    color: black;
    text-align: left;
    font-family: "Milligram Text";
    font-size: 1rem;
    /* margin-left: 1.2vw; */
    margin-bottom: 6vh;
  }

}