@font-face {
  font-family: "Milligram Bold";
  src: url('font/Milligram-Bold.ttf');
}
@font-face {
  font-family: "Milligram Text";
  src: url('font/Milligram-Text-Regular.ttf');
}

@font-face {
  font-family: "Milligram Macro Bold";
  src: url('font/milligram_macro_bold.otf');
}

/* GENERALI */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: white;
  color: white;
}



h1{
  margin-top:0;
}


#container:hover + .custom-cursor{
 opacity: 0;
}


a {
  color: white;
}
 
 
 

website-link{
  display: flex;
  position: relative;
  font-family: "Milligram Text";
  /* width: 25%; */
  padding-top: 4vh;
  margin-bottom: 4vh;
  right: 0%;
  color: white;
  justify-content: center;
}




.block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  min-height: 300px;
}

.spacer12vh{
  height: 12vh;
}

.spacer8vh{
  height: 8vh;
}

#buttonContainer {
  /* background-color: #E8197C; */
  text-align: center;
  margin-left: 4vw;
  margin-right: 4vw;
  /* height: 8vh; */
}

.button-places {
  font-family: "Milligram Bold";
  font-size: 1.3vw;
  width: 20vw;
  height: 8vh;
  line-height: 7.2vh;
  margin: 0% 1vw;
  display: inline-table;
  border: 3px solid black;
  border-radius: 50px;
  background-color: black;
  color: white;
  text-align: center;
}

.button-places:hover {
 border: 3px solid black;
 background-color: white;
 color: black;
 position: relative;
}

.button-places.clicked {
  border: 3px solid black;
  background-color: white;
  color: black;
  position: relative;
 }

span {
 /* border: 2px solid red; */
 display: inline-block;
 vertical-align: middle;
 line-height: normal;
}

@media (min-width: 744px) {
  .text{
    font-family: "Milligram Text";
    font-size: 1.2rem;
    width: 80%;
    padding: 3vh 16.6vw 0vh 16.6vw;
    margin: auto;
    text-align: left;
  }

  .titoli{
    position: relative;
    /* left: 50%;  */
    margin: auto;
    width: 47%;
    font-family: "Milligram Bold";
    font-size: 3rem;
    text-align: left;
    /* margin-top: 5vw;  */
  }

  .partnerLogos{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    height: 20vh;
    width: 90%;
    mix-blend-mode: difference;
    align-items: center;
  }

  .custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background-color: white;
    transition: transform 350ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
  }
  
  .custom-cursor--link {
    transform: translate(-50%, -50%) scale(.7);
  }

  .footer {
    display: flex;
    width: 100vw;
    height: fit-content;
    margin-top: 5vh;
    padding-bottom: 5vh;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
   }
   
   .website-container5 {
    font-family: "Milligram Text";
    display: flex;
    flex-direction: column;
    width: 28%; /* Each container takes up half the width of the footer */
    position: relative;
    padding-top: 4vh;
    color: white;
    margin-right: 4vw; /* Centers the containers within the footer */
    margin-left: 4vw;
   }
   .website-container1 {
    font-family: "Milligram Text";
    display: flex;
    flex-direction: column;
    width: 25%; /* Each container takes up half the width of the footer */
    position: relative;
    padding-top: 4vh;
    color: white;
    margin-left: 4vw; /* Centers the containers within the footer */
   }
   .website-container2 {
    font-family: "Milligram Text";
    display: flex;
    flex-direction: column;
    width: 30%; /* Each container takes up half the width of the footer */
    position: relative;
    padding-top: 4vh;
    color: white;
   
   }

   
   .website-container5 img {
    width: 100%; /* Makes the image responsive */
    padding-top: 2vh;
   }
  
   
   /* Add this to make the .website divs on the same line and evenly spaced */
   .website-spacer {
    position: relative;
    display: flex;
    width: auto;
    text-align: left;
   }
   
   .website-spacer > div {
    position: relative;
    width: fit-content;
   }
   
   /* Additional CSS for the text container to make it fit the entire width */
    .text-container {
    width: fit-content;
    text-align: left; /* Centers the text horizontally */
   }
   
  .footer-text{
    margin-top: 4vh;
  
  }
  
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .first{ 
    margin-top: 0;
  }



}

/* MOBILE */
@media (max-width: 743px) {

  html{
    cursor: none;
  }
  .text{
    font-family: "Milligram Text";
    font-size: 1rem;
    /* padding: 3vh 16.6vw 0vh 16.6vw; */
    /* width: 90%;
    margin: auto; */
    width: auto;
    margin-left: 3vw;
    margin-right: 3vw;
    padding-top: 3vh;
    text-align:left;
  }

  .titoli{
    position: relative;
    /* margin: auto;
    width: 50%; */
    margin-left: 3vw;
    margin-right: 3vw;
    width: auto;
    font-family: "Milligram Bold";
    font-size: 7vw;
    text-align: left;
    /* margin-top: 5vw;  */
  }

  .partnerLogos{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 5vw;
    margin-top: 2vh;
    height: 10vh;
    width: 90%;
    mix-blend-mode: difference;
    align-items: center;
  }

  .button-places {
    font-family: "Milligram Bold";
    font-size: 2.7vw;
    width: 40vw;
    height: 8vh;
    line-height: 7.2vh;
    margin: 1vw 1vw;
    display: inline-table;
 }

 
 .spacer12vh{
  height: 8vh;
}

.spacer8vh{
  height: 6vh;
}
}





.partnerLogos img{
  height: 100%;
  width: auto;
  mix-blend-mode: difference;
}



.subthemes {
  width: 50%;
  margin: auto;
  position: relative;
}


.centered {
  text-align: center;
}




.subthemes{
  width: 100%;
  text-align: center;
  margin-top: 5vh;
}

.subthemes img{
  width: auto;
  max-width: 80vw;
  margin: auto;
  
}


#polimi {
  position: absolute;
  right: 2%;
  top: 2%;
  mix-blend-mode: difference;
  z-index: 10;
  height: fit-content;
  width: fit-content;
}

#polimi img {
  width: 20VW;
  height: auto;

}








/* body {
  margin: 0;
  padding: 0;
  cursor: none;
  overflow-x: hidden;
  mix-blend-mode: difference;
  /* cursor: url('cursor/cursor.png'), auto; 

  
} */